.ecomus-contact-form {
	.wpcf7-form {
		.wpcf7-form-control-wrap {
			display: block;
			margin-bottom: 15px;
		}

		p {
			margin: 0;
		}

		input {
			width: 100%;
		}

		.wpcf7-submit {
			font-weight: 600;
		}

		.wpcf7-spinner {
			display: block;
			margin: 20px auto 0;
		}

		.em-row {
			margin-left: -7.5px;
			margin-right: -7.5px;
		}

		.em-col {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
	}
}