.ecomus-product-grid {
    .woocommerce-pagination-button {
        --em-button-padding-left: 30px;
        --em-button-padding-right: 30px;
        --em-button-padding-top: 14px;
        --em-button-padding-bottom: 14px;
    }
}